	h1, h2, p {
	 	text-align: center;
	 	color: #333333;
	 	font-family: 'Play', sans-serif;
	}

	h1 {
	 	font-size: 35px;
	}

	h2 {
	 	font-size: 25px;
	 	margin: 0px;
	}

	p {
	 	font-size: 20px;
	}

	#buttonAttack {
		padding: 10px 30px 10px 30px;
		font-family: 'Play', sans-serif;
		font-size: 20px;
	}

	#restartButton {
		padding: 10px 30px 10px 30px;
		font-family: 'Play', sans-serif;
		font-size: 20px;
	}

	audio {
		position: fixed;
		bottom: 0px;
	}

	#img5, #img6, #img7, #img8 {
		background-color: red;
		width: 100px;
		height: 100px;
		margin-left: 100px;
	}